@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
.container {
    height: 100%;
    /* min-width: 50vw; */
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
}

.header {
    background-color: black;
    width: 400px;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

#remaining {
    background-color:black;
    flex:1;
}

.logo_and_name {
    width: 300px;
    padding: 25px 30px 20px 25px;
    display: flex;
    justify-content: flex-start; 
    flex-direction: row;
}

.project_name {
    padding-left: 5px;
    color: white;
}

.nav-bar {
    display: flex; 
    justify-content: flex-start;
    align-items: center;
}

.home-btn {
    width: 340px;
    height: 64px;
    display: flex;
    justify-content: flex-start; 
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}


.home-string {
    padding-left: 5px;
    color: #b2b2b2;
}

.home-icon-div {
    background-color: #b2b2b2;
    display: flex; 
    justify-content:center;
    align-items: center;
    width: 37px;
    height: 37px;
    border-radius: 50%;
}

.home-btn:hover .home-string {
    color: white;
    transition: 0.5s;
}

.home-btn:hover .home-icon-div {
    background-color: white;
    transition: 0.5s;
}


.group_wrapper {
    background-color: #2b2a2a;
    min-height: 100vh;
    min-width: 350px;
    display: flex;
    justify-content: space-around; 
    flex-direction: row;
    flex-wrap:wrap
}



.group_img_name {
    background-color: #171717;
    min-width: 150px;
    border: 1px solid #171717;
    border-radius: 15px; 
    width: 240px;
    height: 300px;
    margin: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.group_img_name:hover {
    /* transition: 0.7s; */
    background-color: #202020;
    
    /* border: 10px solid #202020; */
    box-shadow: 0 0 0 7px gold;
    transition: 0.2s;
}



.group_img_name:hover h3 {
    transition: 0.2s;
    background-color: rgb(209, 178, 0);
    border: 5px solid rgb(209, 178, 0);
    border-radius: 5px;
}

.vinil-and-image {
    display: flex; 
    justify-content:center;
    align-items: center;
}

.vinil {
    z-index: 1;
}

.image {
    position: absolute; 
    z-index: 2;
}

.image:hover {
    opacity: 0.4;
    transition: 1s;
    border-radius: 50%;
    animation:rotation 10s linear infinite; /*run the rotation for 10s and iterate again*/
    transform-origin:center;  /*rotate from the center*/
}

a {
    text-decoration: none;
    color: white;
}

.name {
    display: flex;
    justify-content: center;
}

@keyframes rotation {
    from {
      transform: rotate(0deg); /* start from 0 degree */
    }
    to {
      transform: rotate(360deg) /* end at 360 degree which the same as 0 degree to create the continuous loop*/
    }
}

.group_res {
    background-color: #2b2a2a;
    width: 100vw;
    min-width: 850px;
    /* min-width: 100vw; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.res-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 30px ;
    border-bottom-style: solid;
    border-bottom-color: white;
    height: 350px;
}

.info-res {
    background-color: #202020;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* align-items:center; */
    width: 500px;
}

.name-res {
    display: flex;
    justify-content: center;
    /* padding-bottom: 10px; */
}

.devider {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 10px;
    padding-left: 70px;
}

.members-name {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.title-name {
    width: 120px;
}

.location-dates-wrapper {
    background-color: #202020;
    width: 850px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    padding: 30px 0 15px 0;
    align-items:center;
}

.location {
    width: 400px;
}

.location-dates {
    padding: 20px;
}

.date {
    padding-bottom: 5px;
}

.error-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
}

.error-msg {
    padding-top: 100px;
    padding-bottom: 15px;
}

.home-button {
    display: flex;
    justify-content: center;
    align-items: center;

    /* font-size: 50; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100px;
    height: 50px;
    border-radius: 15px; 
    border: none;
    background: white; 
    color: black;
    font-size: large;
}

