* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    height: 100%;
    /* min-width: 50vw; */
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
}

.container .header {
    background-color: black;
    width: 400px;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.container .logo_and_name {
    width: 300px;
    padding: 25px 30px 20px 25px;
    display: flex;
    justify-content: flex-start; 
    flex-direction: row;
}

.container .logo_and_name .project_name {
    padding-left: 5px;
    color: white;
}

.container .header .nav-bar {
    display: flex; 
    justify-content: flex-start;
    align-items: center;
}

.container .header .home-btn {
    width: 340px;
    height: 64px;
    display: flex;
    justify-content: flex-start; 
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

.container .header .home-btn .home-string {
    padding-left: 5px;
    color: #b2b2b2;
}

.container .header .home-btn .home-icon-div {
    background-color: #b2b2b2;
    display: flex; 
    justify-content:center;
    align-items: center;
    width: 37px;
    height: 37px;
    border-radius: 50%;
}

.container .header .home-btn:hover .home-string {
    color: white;
    transition: 0.5s;
}

.container .header .home-btn:hover .home-icon-div {
    background-color: white;
    transition: 0.5s;
}

.container .group_wrapper {
    background-color: #26bba7;
    min-height: 100vh;
    min-width: 350px;
    display: flex;
    justify-content: space-around; 
    flex-direction: row;
    flex-wrap:wrap
}

.container .group_wrapper .group_img_name {
    background-color: #070600;
    min-width: 150px;
    border: 1px solid #171717;
    border-radius: 15px; 
    width: 240px;
    height: 300px;
    margin: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.container .group_wrapper .group_img_name:hover {
    /* transition: 0.7s; */
    background-color: #beda20;
    /* border: 10px solid #202020; */
    box-shadow: 0 0 0 7px gold;
    transition: 0.2s;
}

.container .group_wrapper .group_img_name:hover h3 {
    transition: 0.2s;
    background-color: rgb(209, 178, 0);
    border: 5px solid rgb(209, 178, 0);
    border-radius: 5px;
}

.container .group_wrapper .group_img_name .vinil-and-image {
    display: flex; 
    justify-content:center;
    align-items: center;
}

.container .group_wrapper .group_img_name .vinil {
    z-index: 1;
}

.container .group_wrapper .group_img_name .image {
    position: absolute; 
    z-index: 2;
}

.container .group_wrapper .group_img_name .image:hover {
    opacity: 0.4;
    transition: 1s;
    border-radius: 50%;
    animation:rotation 10s linear infinite; /*run the rotation for 10s and iterate again*/
    transform-origin:center;  /*rotate from the center*/
}

.container .group_wrapper .group_img_name a {
    text-decoration: none;
    color: white;
}

.container .group_wrapper .group_img_name .name {
    display: flex;
    justify-content: center;
}

@keyframes rotation {
    from {
        transform: rotate(0deg); /* start from 0 degree */
    }
    to {
        transform: rotate(360deg) /* end at 360 degree which the same as 0 degree to create the continuous loop*/
    }
}

.container .group_res {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqBH9HgSsQ8c61jbcLa9fdwpCtHkHq06rmE7QRzzwV5RL9fDX08J7ugCOQlpAV-ysHcFo&usqp=CAU");
    width: 100vw;
    min-width: 850px;
    /* min-width: 100vw; */
    display: flex;
    justify-content: flexstart;
    flex-direction: column;
    align-items: center;
}

.container .group_res .res-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 30px ;
    border-bottom-style: solid;
    border-bottom-color: white;
    height: 350px;
}

.container .group_res .info-res {
    background-color: #214646;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* align-items:center; */
    width: 500px;
}

.container .group_res .info-res .name-res {
    display: flex;
    justify-content: center;
    /* padding-bottom: 10px; */
}

.container .group_res .info-res .devider {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 10px;
    padding-left: 70px;
}

.container .group_res .info-res .members-name {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.container .group_res .info-res .title-name {
    width: 120px;
}

.container .group_res .location-dates-wrapper {
    background-color: #01090a;
    width: 850px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0 15px 0;
    align-items:center;
}

.container .group_res .location {
    width: 400px;
}

.container .group_res .location-dates {
    padding: 20px;
}

.container .group_res .date {
    padding-bottom: 5px;
}

.container .error-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
}

.container .error-page .error-msg {
    padding-top: 100px;
    padding-bottom: 15px;
}

.container .error-page .home-button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 50; */
    font-family: system-ui, 'Segoe UI' , 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100px;
    height: 50px;
    border-radius: 15px; 
    border: none;
    background: white; 
    color: black;
    font-size: large;
}

.container .small-footer {
    font-size: 10px;
    margin: 5px 0;
    padding: 5px;
}